#app {
  margin-top: 60px;
  font-family: 'Avenir', 'Helvetica', 'Arial', sans-serif;
  color: #2c3e50;
  text-align: center;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
::after,
::before {
  box-sizing: border-box;
}
